services:
  grafana-lgtm:
    image: 'grafana/otel-lgtm:latest'
    ports:
      - '3000'
      - '4317'
      - '4318'
  postgres:
    image: 'postgres:18'
    environment:
      - 'POSTGRES_DB=apptrail'
      - 'POSTGRES_PASSWORD=apptrail'
      - 'POSTGRES_USER=apptrail'
    ports:
      - '5432:5432'
